<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Related" type="OuterEdge\RelatedProductPricing\Block\Adminhtml\Product\Edit\Tab\Related" />
    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Related" type="OuterEdge\RelatedProductPricing\Ui\DataProvider\Product\Form\Modifier\Related" />
    <preference for="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper" type="OuterEdge\RelatedProductPricing\Controller\Adminhtml\Product\Initialization\Helper" />
    <preference for="Magento\Catalog\Api\Data\ProductLinkInterface\ProductLinkInterface" type="OuterEdge\RelatedProductPricing\Api\Data\ProductLinkInterface" />
    <preference for="Magento\Catalog\Model\ProductLink\Link" type="OuterEdge\RelatedProductPricing\Model\ProductLink\Link" />
    <preference for="Magento\Catalog\Model\ProductLink\Converter\DefaultConverter" type="OuterEdge\RelatedProductPricing\Model\ProductLink\Converter\DefaultConverter" />
    <preference for="Magento\Catalog\Model\ProductLink\Repository" type="OuterEdge\RelatedProductPricing\Model\ProductLink\Repository" />
    <preference for="Magento\Catalog\Block\Product\ProductList\Related" type="OuterEdge\RelatedProductPricing\Block\Product\ProductList\Related" />
</config>
